@{
    Layout = null;
}

<html>

<body class="container" style="color:gray">

    <div class="jumbotron">

        <img src="~/Content/Images/Pare.jpg" alt="" class="img-circle" />

        <h1 style="color:red" class="text-center"> <strong>@ViewBag.Message</strong></h1>

        <p style="color: darkred">Have the login for execute this task! motherfucker</p>

    </div>

    <a href="@Url.Action("Login","Home")" class="btn-default"> Voltar</a>

</body>

</html>