@{
    Layout = null;
}

<html>

<body class="jumbotron" style="color:gray">

    <div>

        <img src="~/Content/Images/Pare.jpg" alt="" class="img-circle" />

        <h1 style="color:red" class="text-center"> <strong>@ViewBag.Message</strong></h1>

        <p style="color: darkred">Have the login for execute this task! motherfucker</p>

    </div>

</body>

</html>