@{
    ViewBag.Title = "S.I.P";
}

<div class="jumbotron">
    
    <h1 style="color: aquamarine" class="glyphicon-text-color"> Controle - SIP </h1>
    
    <p class="lead" style="color: bisque"  > Meu sistema </p>
    <p><a href="@Url.Action("Login","Home")" class="btn btn-primary btn-lg">Voltar</a></p>
</div>