@{
    ViewBag.Title = "S.I.P";
}
<html>


<body>


    <div id="topo"></div>
    <div id="topo">

    </div>
    <div id="conteudoEsq" class="">
        <br />



        @if (Session["Id"].ToString() == "1")
        {
            <img src="~/Content/Images/download.jpg" height="200px" width="200px" class="img-circle" />

        }
        @if (Session["Id"].ToString() == "2")
        {
            <img src="~/Content/Images/tiezinho.jpg" height="200px" width="200px" class="img-circle" />

        }
        @if (Session["Id"].ToString() == "3")
        {
            <img src="~/Content/Images/Julio.jpg" height="200px" width="200px" class="img-circle" />

        }
        @if (Session["Id"].ToString() == "4")
        {
            <img src="~/Content/Images/RDantas.jpg" height="200px" width="200px" class="img-circle" />

        }



        <div>

            <h4 style="color: gold" class="img-import">
                <strong>
                    <img src="~/Content/Images/Controlefundopreto.jpg" alt="" height="60px" width="60px" style="border-image-slice: fill" class="glyphicon-import" />
                    Controle - SIP
                </strong> </>
            </h4>
        </div>


        @if (Session["Nome"] != null)
        {
            <p>

                <h5 class="text-center" style="color:bisque">
                    <h5>
                        <strong>Nome: @Session["Nome"].ToString()</strong>
                    </h5>

                    <h5>
                        <strong>Perfil: @Session["Perfil"].ToString()</strong>
                    </h5>

                    <h5>
                        <strong>Email: @Session["Email"].ToString()</strong>
                    </h5>
                    <h5>
                        <strong> Registrado em :  @Session["Registro"].ToString()</strong>
                    </h5>


                </h5>
            </p>
        }
    </div>
    <div id="colEsq">

        <div id="sepEsqcolCentral">


            <div id="colCentral">
                <h1 style="color: gold"> Dedico este sistema a toda minha paixão pela ciência em todas as suas formas.</h1>
                <h3></h3>
                ......................

                .......
            </div>


        </div>
        <p>

        </p>

    </div>

</body>
</html>