@{
    ViewBag.Title = "S.I.P";
}

<div class="jumbotron" >

    
      

    <h3 style="color: aquamarine" class="glyphicon-text-color"> <strong>Controle - SIP</strong> </h3>

    <div class="container" style="text-align:center">
        <div class="row" style="margin-top:10px">
            
            @if (Session["Nome"] != null)
            {
            <p>
                <h3 style="color:bisque" class="text-center">Olá</h3>
                <h2 class="text-center" style="color: aquamarine">Bem vindo ao sistema</h2> <h4 class="text-center" style="color:bisque">
                    @Session["Nome"].ToString()  @Session["Sobrenome"].ToString()
                </h4>
            </p>
                
            }
        </div>
    </div>

    <p class="lead" style="color: bisque"> <strong>Meu sistema </strong></p>
    <p><a href="@Url.Action("Login","Home")" class="btn btn-primary btn-lg">Voltar</a></p>
</div>