@{
    ViewBag.Title = "S.I.P";
}

<div class="jumbotron">
    <h1>Controle Financeiro </h1>
    <p class="lead">Macoratti .net</p>
    <p><a href="http://www.macoratti.net" class="btn btn-primary btn-lg">Aprenda mais</a></p>
</div>